.experiencie__box{
    display: flex;
    align-items: center;
    gap: 2rem;
    
}

.experiencie__box:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .experiencie__box:nth-child(even) {
    display: flex;
    flex-direction: row;
  }
  
  .experience__img{
    max-width: 75%;
  }