.title__network{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    
    width: 467px;
    height: 24px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
}

.title__network__item:hover a{
    color: #9d1b1b;;
}


.title__network__item:active a{
    color: #830000;;
}
