.academic__courses__item__title{


font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
/* identical to box height */
display: flex;
flex-direction: column;
/* Preto/100% */

color: #464646;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}